* {
  font-family: 'Acme', sans-serif;
}

body {
  background-color: #E1D2B6;
}

.section-bg {
  background: #64A542;
}

.section-open {
  background: url(./assets/img/background.png) repeat-x;
  background-size: contain;
  background-position: bottom;
}

#slider {
  position: relative;
  width: 100%;
}

.one,
.two {
  width: 24%;
  float: left;
}

.fence-b {
  position: relative;
  background-repeat: repeat-x;
  width: 100%;
  height: 120px;
  background-size: contain;
  background-position: bottom;
}


.fence-l {
  position: relative;
  background-repeat: repeat-y;
  width: 100px;
  height: 90%;
}

.ranch {
  position: relative;
  padding: 0px;
  /* min-height: 500px;
  height: 100%; */
}

.ranch div {
  padding: 0px;
}

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  color: #000;
  background: #64A542;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
}


div.login-action {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 10px));
  overflow: hidden;
  text-align: center;
  display: flex;
}

.btn-green {
  background: url(./assets/img/btn_green.png) no-repeat;
  cursor: pointer;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 20px;
  font-size: 19px;
  line-height: initial;
  color: ivory;
  min-width: 109px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  display: flex;
  text-decoration: none;
}

.get-money {
  position: relative;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

input.form-input {
  margin: 2px;
  border: 1px solid #444444;
  color: #000;
  line-height: initial;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.alert-message {
  color: rgb(12, 13, 12);
  font-size: 20px;
  font-weight: bold;
  background-color: #0fd1ee90;
  opacity: 1;
}

.btn-red {
  background: url(./assets/img/btn_red.png) no-repeat;
  cursor: pointer;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 10px;
  font-size: 19px;
  line-height: initial;
  color: ivory;
  min-width: 102px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  display: flex;
  text-decoration: none;
}


.btn-upgrade {
  background: url(./assets/img/btn-upgrade.png) no-repeat;
  cursor: pointer;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 20px;
  font-size: 19px;
  line-height: initial;
  color: ivory;
  min-width: 115px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  text-decoration: none;
  display: flex;
}

button:hover,
.btn-upgrade:hover,
.btn-red:hover,
.btn-green:hover {
  transform: scale(.97);
  color: #fff;
}

.popup-upgrade-cover {
  width: calc(100% - 39px);
  background-image: url(./assets/img/upgrade-cover.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 143px;
  margin: 20px auto 0;
}

.popup-upgrade-box {
  width: calc(100% - 39px);
  background-image: url(./assets/img/popup-upgrade-box.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  margin: 10px auto 0;
  position: relative;
  padding-top: 1px;
}

.popup-upgrade-header {
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
  color: #fff;
  width: 120px;
  text-align: center;
  position: relative;
  left: 30px;
  top: 5px;
  font-size: 20px;
  padding-top: 3px;
}

.popup-box-2 {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% + 10px));
  width: 380px;
  height: 560px;
  background-image: url(./assets/img/popup-box-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.popup-box-1,
.popup-box {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% + 10px));
  width: 312px;
  height: 510px;
  background-image: url(./assets/img/popup-box.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
}

.popup-btn-close {
  background: transparent;
  border: 0;
  position: absolute;
  display: block;
  transition: transform 75ms linear;
  background-image: url(./assets/img/popup-btn-close.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 37px;
  height: 37px;
  cursor: pointer;
  left: calc(50% + 135px);
  top: calc(50% - 260px);
  z-index: 4;
}

.popup-wrapper {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  z-index: 5;
}

.popup-profit-header {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  color: #8ac63f;
  text-shadow: 0em 0.08em #000, 0.031em 0.074em #000, 0.057em 0.057em #000, 0.074em 0.031em #000, 0.08em 0em #000, 0.074em -0.031em #000, 0.057em -0.057em #000, 0.031em -0.074em #000, 0em -0.08em #000, -0.031em -0.074em #000, -0.057em -0.057em #000, -0.074em -0.031em #000, -0.08em 0em #000, -0.074em 0.031em #000, -0.057em 0.057em #000, -0.031em 0.074em #000;
}

.popup-login button,
.popup-register button {
  margin-top: 20px;
  display: initial;
}

.barn {
  margin: 5px;
}

.barn div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
  text-align: center;
  height: 120px;
}

.barn .barn-grey-0:hover,
.barn button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.barn-1 {
  top: 0px;
  width: 230px;
  background-image: url(./assets/img/house1.webp);
  bottom: 0px;
  filter: grayscale(100%);
}

.barn-2 {
  top: 0px;
  width: 260px;
  background-image: url(./assets/img/house2.webp);
  bottom: 0px;
  filter: grayscale(100%);
}

.barn-3 {
  top: 0px;
  width: 290px;
  background-image: url(./assets/img/house3.webp);
  bottom: 0px;
  filter: grayscale(100%);
}

.barn-4 {
  top: 0px;
  width: 320px;
  background-image: url(./assets/img/house4.webp);
  bottom: 0px;
  filter: grayscale(100%);
}

.barn-5 {
  top: 0px;
  width: 260px;
  background-image: url(./assets/img/house5.webp);
  bottom: 0px;
  filter: grayscale(100%);
}

.barn-6 {
  top: 0px;
  width: 290px;
  background-image: url(./assets/img/house6.webp);
  bottom: 0px;
  filter: grayscale(100%);
}

.barn-7 {
  top: 0px;
  width: 320px;
  background-image: url(./assets/img/house7.webp);
  bottom: 0px;
  filter: grayscale(100%);
}

.barn-8 {
  top: 0px;
  width: 350px;
  background-image: url(./assets/img/house8.webp);
  bottom: 0px;
  filter: grayscale(100%);
}

.barns {
  /* transform: translate(-50%, calc(-50% + 10px)); */
  overflow: hidden;
  text-align: center;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.barn-btn-add>div:first-child,
.barn-btn-upgrade>div:first-child {
  position: relative;
  width: 20px;
  height: 20px;
  left: calc(50% - 36px);
  top: calc(50% - 2px);
  transform: translate(-50%, -50%);
  background-image: url(./assets/img/coin.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.popup-sell-header {
  text-align: center;
  margin-top: 15px;
  font-size: 25px;
  color: #8ac63f;
  font-weight: bold;
  text-shadow: 0em 0.08em #000, 0.031em 0.074em #000, 0.057em 0.057em #000, 0.074em 0.031em #000, 0.08em 0em #000, 0.074em -0.031em #000, 0.057em -0.057em #000, 0.031em -0.074em #000, 0em -0.08em #000, -0.031em -0.074em #000, -0.057em -0.057em #000, -0.074em -0.031em #000, -0.08em 0em #000, -0.074em 0.031em #000, -0.057em 0.057em #000, -0.031em 0.074em #000;
}

.popup-sell-rate-text {
  color: #fff;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.popup-sell-rate-money-icon {
  display: inline-block;
  background-image: url(./assets/img/cash.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -9px;
  width: 40px;
  height: 35px;
  transform: translateY(3.5px);
}

.popup-sell-figure {
  background-image: url(./assets/img/sell-figure.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: -50px auto 0;
  width: 225px;
  height: 225px;
}

.popup-sell-description {
  color: #fff;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
  text-align: center;
  width: 300px;
  font-size: 17px;
  font-weight: bold;
  margin: -45px auto 0;
}

.popup-sell-description span {
  font-size: 18px;
  display: inline-block;
  margin-left: 2px;
  color: #fdf611;
  font-family: LilitaOne, sans-serif !important;
}

.popup-sell-money-icon {
  display: inline-block;
  background-image: url(./assets/img/cash.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  margin: 0 3px -12px 1px;
}

.popup-sell-btn-destroy,
.popup-sell-btn-swap {
  text-align: center;
  background-color: transparent;
  border: none;
  background-image: url(./assets/img/btn_green.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px auto 0;
  width: 102px;
  height: 55px;
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
  cursor: pointer;
  transition: transform 75ms linear;
  font-family: LilitaOne, sans-serif;
}

.popup-sell-btn-destroy {
  background-image: url(./assets/img/btn_red.png);
  margin-top: 5px;
}

div.farm-cash {
  background-image: url(./assets/img/cash.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 21px;
  height: auto;
  margin-right: 10px;
}


div.farm-coin {
  background-image: url(./assets/img/coin.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 21px;
  height: auto;
  margin-bottom: 2px;
  margin-right: 5px;
}

.btn-upgrade .farm-cash,
.btn-upgrade .farm-coin {
  margin-left: -15px;
}


div.barn-action {
  position: relative;
  display: flex;
  justify-content: center;
}


.land {
  width: 100%;
  background-color: #90e763;
  height: 113px;
  position: relative;
  top: 76%;
  height: 500px;
  z-index: 1;
}

.trees {
  background: url(./assets/img/trees.png) no-repeat;
  width: 100%;
  background-repeat: repeat-x;
  /* background-size: contain;
  background-position: top; */
  height: 78vh;
  z-index: 0;
}

.alert-warning {
  margin-bottom: 10px;
}

.menu-fixed-left {
  position: fixed;
  left: 10px;
  top: 30px;
  color: #fff;
  width: 250px;
  z-index: 4;
}

.menu-fixed-left .menu-btns {
  display: block;
  margin-left: 1px;
}

.menu-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.menu-fixed-left .menu-btn,
.menu-fixed-left .menu-btn-chicken,
.menu-fixed-left .menu-btn-rabbit,
.menu-fixed-left .menu-btn-hog,
.menu-fixed-left .menu-btn-sheep,
.menu-fixed-left .menu-btn-red {
  display: block;
  margin-bottom: 1px;
}

.menu-btn {
  width: 52px;
  height: 54px;
  background-color: transparent;
  background-image: url(./assets/img/menu-btn.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 75ms linear;
  cursor: pointer;
  border: 0;
  color: #fff;
}

.menu-bar {
  position: relative;
  width: 250px;
  height: 35px;
  margin: 0 auto 10px;
  background-image: url(./assets/img/menu-bar.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-bar-value {
  color: #000;
  top: 2px;
  font-size: 19px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-weight: bold;
}

.menu-bar-without-background {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.menu-bar-money {
  position: relative;
  width: 50px;
  height: 32px;
  background-image: url(./assets/img/cash.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 19px;
  top: 0;
}

.menu-bar-coin {
  position: relative;
  width: 50px;
  height: 32px;
  background-image: url(./assets/img/coin.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  left: 19px;
  top: 0;
}

.menu-bar-btn-plus {
  background: transparent;
  border: 0;
  position: absolute;
  width: 27px;
  height: 33px;
  background-image: url(./assets/img/plus.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: 23px;
  top: -1px;
  transition: transform 75ms linear;
  transition: linear;
  cursor: pointer;
}

.menu-bar-wallet {
  position: relative;
  width: 50px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 19px;
  top: 0;
}

.menu-fixed-left .fa,
.menu-fixed-right .fa {
  font-size: x-large;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 2;
  text-decoration: none;
  color: #fff;
}

.menu-bar-per-hour {
  text-shadow: #000 -1px -1px 0, #000 0 -1.5px 0, #000 1px -1px 0, #000 1.5px 0 0, #000 1px 1px 0, #000 0 2px 0, #000 -1px 1px 0, #000 -1.5px 0 0;
  font-size: 16px;
  position: relative;
  left: 50%;
  top: 40px;
  transform: translate(-50%);
}

.menu-bar-per-hour div {
  display: inline-block;
}

.popup-text {
  color: #fff;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
}

.popup-upgrade-mini-box {
  width: 300px;
  background-image: url(./assets/img/mini-box.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 42px;
  margin: 20px auto 0;
  position: relative;
}

.popup-upgrade-mini-box-header {
  color: #fdf611;
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: -6px;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
}

.popup-upgrade-mini-box-text {
  position: absolute;
  top: 15px;
  left: 14px;
  font-size: 15px;
  color: #442819;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.popup-upgrade-info-text {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 17px;
  color: #fdf611;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
}

.popup-upgrade-mini-box-added {
  color: #fff;
  position: absolute;
  width: 80px;
  height: 10px;
  right: 23px;
  top: 13px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.popup-box button {
  display: initial;
}

.popup-box .container {
  padding: 20px;
}

.logo-desktop,
.logo,
.logo-barn {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url(./assets/img/logo.webp);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  top: 0px;
  z-index: 2;
}

.logo-barn {
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  background-size: contain;
}

.menu-bar-btn-minus {
  background: transparent;
  border: 0;
  position: absolute;
  width: 27px;
  height: 33px;
  background-image: url(./assets/img/minuse.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: 23px;
  top: -1px;
  transition: transform 75ms linear;
  cursor: pointer;
}

.fc-add {
  right: 56px;
}

.popup-partners-input {
  font-family: Alternative, sans-serif !important;
  border: 0;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  outline-width: 0;
}

.popup-partners-description {
  /* color: #000;
  text-align: center;
  width: 300px;
  margin: 3px auto 0;
  font-size: 16px; */
  color: #fff;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
  text-align: center;
  width: 300px;
  margin: 12px auto 0;
  font-size: 16px;
  font-weight: bold;
}

.popup-partners-header {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #fdf611;
  text-shadow: 0em 0.08em #000, 0.031em 0.074em #000, 0.057em 0.057em #000, 0.074em 0.031em #000, 0.08em 0em #000, 0.074em -0.031em #000, 0.057em -0.057em #000, 0.031em -0.074em #000, 0em -0.08em #000, -0.031em -0.074em #000, -0.057em -0.057em #000, -0.074em -0.031em #000, -0.08em 0em #000, -0.074em 0.031em #000, -0.057em 0.057em #000, -0.031em 0.074em #000;
}

.popup-partners-input-wrapper {
  width: 220px;
  height: 58px;
  margin: 10px auto 0;
  background-image: url(./assets/img/popup-partners-input.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.popup-partners-btn-copy {
  text-align: center;
  background-color: transparent;
  border: none;
  background-image: url(./assets/img/btn_green.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 80px;
  height: 50px;
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
  padding-bottom: 5px;
  transition: transform 75ms linear;
}

.popup-partners-coins-bar,
.popup-partners-money-bar,
.popup-partners-users-bar {
  background-image: url(./assets/img/menu-bar.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px auto 0;
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-partners-coins-bar-icon,
.popup-partners-money-bar-icon,
.popup-partners-users-bar-icon {
  background-image: url(./assets/img/coin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 34px;
  height: 22px;
  margin-bottom: 3px;
  margin-right: 6px;
  margin-left: -15px;
}

.popup-partners-money-bar-icon {
  background-image: url(./assets/img/cash.png);
  height: 25px;
}

.popup-partners-users-bar-icon {
  background-image: url(./assets/img/referral.png);
  height: 24px;
}

.popup-partners-users-bar-text,
.popup-partners-coins-bar-text,
.popup-partners-money-bar-text {
  font-family: LilitaOne, sans-serif !important;
  font-weight: bold;
  color: #fff;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
  font-size: 17px;
  padding-bottom: 3px;
  box-sizing: border-box;
}

.popup-partners-description span {
  /* font-size: 19px; */
  display: inline-block;
  margin-left: 5px;
}

.popup-partners-coin-icon {
  display: inline-block;
  background-image: url(./assets/img/coin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 25px;
  margin-right: -1px;
  transform: translate(0.5px, 5.5px);
}

.popup-partners-money-icon {
  display: inline-block;
  background-image: url(./assets/img/cash.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 35px;
  margin: 0 2px -11px 2px;
  transform: translate(1px, 1.5px);
}

.popup-buy-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto 0;
  width: 216px;
}

.popup-buy-header {
  text-align: center;
  margin: 30px auto 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  color: #8ac63f;
  width: 250px;
  text-shadow: 0em 0.08em #000, 0.031em 0.074em #000, 0.057em 0.057em #000, 0.074em 0.031em #000, 0.08em 0em #000, 0.074em -0.031em #000, 0.057em -0.057em #000, 0.031em -0.074em #000, 0em -0.08em #000, -0.031em -0.074em #000, -0.057em -0.057em #000, -0.074em -0.031em #000, -0.08em 0em #000, -0.074em 0.031em #000, -0.057em 0.057em #000, -0.031em 0.074em #000;
}


.popup-buy-text-ticker {
  color: #fff;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-buy-currency-icon {
  background-image: url(./assets/img/bnb.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
  margin-top: -3px;
}

.popup-buy-text-balance {
  font-family: Alternative, sans-serif;
  color: #fff;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.popup-buy-input-wrapper {
  width: 220px;
  height: 58px;
  margin: -3px auto 0;
  background-image: url(./assets/img/popup-partners-input.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.popup-buy-input {
  font-family: Alternative, sans-serif !important;
  border: 0;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  font-size: 20px;
  outline-width: 0;
  text-align: right;
}

.popup-buy-arrow {
  border-radius: 50%;
  background-color: #323232;
  width: 26px;
  height: 26px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.popup-buy-text-ticker {
  color: #fff;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-buy-coin-icon {
  background-image: url(./assets/img/coin.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
  margin-top: -3px;
}

.popup-wrapper .btn-red,
.popup-wrapper .btn-green,
.popup-wrapper .btn-upgrade {
  display: initial;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.popup-renovate-input {
  font-family: Alternative, sans-serif !important;
  border: 0;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  font-size: 20px;
  outline-width: 0;
  text-align: center;
  /* -webkit-appearance: none; */
}

.collect-action {
  bottom: 0%;
  position: relative;
  left: 45%;
}

.section-animals {
  top: 0%;
  position: relative;
  width: 100%;
  height: 100vh;
}

.collect-action .popup-text {
  text-align: center;
}

.collect-action.collect-mobile {
  position: initial;
}

.popup-profit-header {
  text-align: center;
  color: #8ac63f;
  text-shadow: 0em 0.08em #000, 0.031em 0.074em #000, 0.057em 0.057em #000, 0.074em 0.031em #000, 0.08em 0em #000, 0.074em -0.031em #000, 0.057em -0.057em #000, 0.031em -0.074em #000, 0em -0.08em #000, -0.031em -0.074em #000, -0.057em -0.057em #000, -0.074em -0.031em #000, -0.08em 0em #000, -0.074em 0.031em #000, -0.057em 0.057em #000, -0.031em 0.074em #000;
}

.popup-profit-time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9px;
}

.popup-profit-time-icon {
  width: 21px;
  height: 21px;
  background-image: url(./assets/img/time-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.popup-profit-time-text {
  color: #fff;
  font-size: 17px;
  text-shadow: 0em 0.08em #000, 0.031em 0.074em #000, 0.057em 0.057em #000, 0.074em 0.031em #000, 0.08em 0em #000, 0.074em -0.031em #000, 0.057em -0.057em #000, 0.031em -0.074em #000, 0em -0.08em #000, -0.031em -0.074em #000, -0.057em -0.057em #000, -0.074em -0.031em #000, -0.08em 0em #000, -0.074em 0.031em #000, -0.057em 0.057em #000, -0.031em 0.074em #000;
  text-align: center;
  margin-left: 5px;
}

.popup-profit-time-description {
  color: #fff;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
  text-align: center;
  width: 250px;
  margin: 13px auto 0;
}

.popup-profit-figure {
  background-image: url(./assets/img/profit-figure.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: -20px auto 0;
  width: 250px;
  height: 200px;
}

.popup-profit-money-bar {
  background-image: url(./assets/img/popup-partners-users-bar.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: -30px auto 0;
  width: 300px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.popup-profit-money-bar-icon {
  background-image: url(./assets/img/cash.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 34px;
  height: 42px;
  margin-right: 6px;
  margin-left: -15px;
}

.popup-profit-money-bar-text {
  font-family: LilitaOne, sans-serif !important;
  font-weight: 500 !important;
  color: #fff;
  text-shadow: 0em 0.1em #000, 0.038em 0.092em #000, 0.071em 0.071em #000, 0.092em 0.038em #000, 0.1em 0em #000, 0.092em -0.038em #000, 0.071em -0.071em #000, 0.038em -0.092em #000, 0em -0.1em #000, -0.038em -0.092em #000, -0.071em -0.071em #000, -0.092em -0.038em #000, -0.1em 0em #000, -0.092em 0.038em #000, -0.071em 0.071em #000, -0.038em 0.092em #000;
  font-size: 20px;
  box-sizing: border-box;
  margin-left: 10px;
}


.panels {
  width: 100%;
  position: absolute;
  padding: 0px 5px !important;
}

.panel {
  width: 100%;
  height: 35px;
  background-color: #00000070;
  margin-bottom: 14px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000, 0 1.5px 0 #00000090;
}

.panel-right {
  font-family: LilitaOne, sans-serif !important;
  font-weight: 500 !important;
}

.popup-payout .popup-buy-text-container.computation {
  background-color: #fff;
  margin: 5px auto;
  padding: 5px !important;
}

.popup-profit-header.sell-header {
  margin-top: 17px;
}

.barns.transactions {
  top: 52%;
  color: #c6a63f;
  text-shadow: 0em 0.08em #000, 0.031em 0.074em #000, 0.057em 0.057em #000, 0.074em 0.031em #000, 0.08em 0em #000, 0.074em -0.031em #000, 0.057em -0.057em #000, 0.031em -0.074em #000, 0em -0.08em #000, -0.031em -0.074em #000, -0.057em -0.057em #000, -0.074em -0.031em #000, -0.08em 0em #000, -0.074em 0.031em #000, -0.057em 0.057em #000, -0.031em 0.074em #000;
}

.popup-transactions .popup-buy-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto 0;
  width: 216px;
}

.modal-header {
  padding: 1px 17px;
  border-bottom: none;
}

.modal-header .modal-title {
  color: #fff;
  text-shadow: 0em 0.08em #000, 0.031em 0.074em #000, 0.057em 0.057em #000, 0.074em 0.031em #000, 0.08em 0em #000, 0.074em -0.031em #000, 0.057em -0.057em #000, 0.031em -0.074em #000, 0em -0.08em #000, -0.031em -0.074em #000, -0.057em -0.057em #000, -0.074em -0.031em #000, -0.08em 0em #000, -0.074em 0.031em #000, -0.057em 0.057em #000, -0.031em 0.074em #000;
}

.modal-content {
  background: #FEC871;
  border: 5px #F6931C solid;
}

table.table {
  background: #fff;
}

.btn-close {
  background-image: url(./assets/img/popup-btn-close.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.alert {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #000c;
  color: #fff;
  height: 45px;
  font-family: Alternative, sans-serif;
  opacity: 0;
  transition: opacity .25s;
  font-size: 16px;
}

.alert-dismissible .btn-close {
  padding: 2px;
}

.promotional-video {
  position: relative;
  top: 32%;
  width: 447px;
  height: auto;
  left: 34%;
}

.modal .alert,
.popup-box .alert,
.popup-box-1 .alert {
  position: inherit;
}


.head-details {
  display: flex;
}

.ls-bar .menu-bar-btn-minus {
  right: 55px;
}

.but-buttons {
  display: inline-flex;
}




.menu-fixed-right {
  position: fixed;
  right: 10px;
  top: 30px;
  color: #fff;
  width: 250px;
  z-index: 4;
}

.menu-fixed-right .menu-btns {
  display: block;
  margin-left: 1px;
}

.radio-picker {
  display: flex;
}

.radio-picker .form-check {
  margin-right: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* .barns {
    width: 100%;
    overflow-x: scroll;
  } */

  .section-open,
  .trees {
    background-position: top;
    background-size: cover;
  }

  .menu-btns {
    justify-content: center;
  }

  .menu-fixed-left .menu-btns {
    display: block;
    margin-left: 0px;
  }

  .menu-fixed-left {
    width: 100%;
    top: 10px;
  }

  .menu-fixed-right {
    left: 5px;
    top: 10px;
    width: 20px;
  }

  .logo {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    background-size: contain;
  }


  .logo-desktop {
    display: none;
  }

  .logo {
    display: block;
  }

  .collect-action {
    left: 37%;
  }

  .collect-action.collect-desktop {
    display: none;
  }

  .collect-action.collect-mobile {
    display: block;
  }

  .trees {
    height: 668px;
  }

  .alert {
    width: 95%;
    z-index: 5;
    bottom: 0;
    min-height: 100px;
    padding: 10px !important;
  }

  .promotional-video {
    top: 20%;
    width: 100%;
    left: 0%;
  }

  div.login-action {
    bottom: 27%;
  }


  .head-details {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* .barns {
    width: 100%;
    overflow-x: scroll;
  } */

  .section-open,
  .trees {
    background-position: top;
    background-size: cover;
  }

  .menu-fixed-left .menu-btns {
    display: flex;
    margin-left: 0px;
  }

  .menu-fixed-right .menu-btns {
    display: flex;
    margin-left: 0px;
  }

  .logo {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    background-size: contain;
  }

  .logo-desktop {
    display: none;
  }

  .logo {
    display: block;
  }


  .alert {
    width: 95%;
    z-index: 5;
    bottom: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* .barns {
    width: 100%;
    overflow-x: scroll;
  } */

  .section-open,
  .trees {
    background-position: top;
    background-size: cover;
  }

  .menu-btns {
    justify-content: space-between;
  }

  .menu-fixed-left .menu-btns {
    display: block;
    margin-left: 15px;
  }

  .menu-fixed-left {
    width: 250px;
  }

  .menu-fixed-right .menu-btns {
    display: block;
    margin-left: 15px;
  }

  .menu-fixed-right {
    width: 250px;
  }

  .menu-fixed-right .menu-btns {
    display: block;
    margin-left: 15px;
  }

  .menu-fixed-right {
    width: 250px;
  }


  .logo-desktop {
    display: none;
  }

  .logo {
    display: block;
  }

  .collect-action {
    left: 45%;
  }


  .collect-action.collect-desktop {
    display: block;
  }

  .collect-action.collect-mobile {
    display: none;
  }


  .alert {
    width: auto;
    z-index: 5;
    bottom: 0;
  }

  .promotional-video {
    top: 13%;
    width: 81%;
    left: 9%;

  }

  div.login-action {
    bottom: 43%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* .barns {
    width: auto;
    overflow-x: hidden;
  } */

  .section-open,
  .trees {
    background-position: bottom;
  }

  .logo-desktop {
    display: block;
  }

  .logo {
    display: none;
  }

  div.login-action {
    bottom: 10%;
    left: 50%;
  }


  .promotional-video {
    top: 32%;
    width: 32%;
    left: 34%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}