/*        Chef        */
.display-none {
    display: none;
}

.display-block {
    display: block;
}

.chef-cooking {
    position: absolute;
    background-image: url(./assets/img/static/chef-cook.png);
    background-size: cover;
    bottom: 17px;
    width: 40px;
    height: 72px;
    animation: moveChefCooking 1s steps(12) alternate infinite;
}

@keyframes moveChefCooking {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -480px;
    }

}

.chef-1-cooking {
    right: 38px
}

.chef-2-cooking {
    right: 91px
}

.chef-3-cooking {
    right: 144px
}

.chef-4-cooking {
    right: 197px
}

.chef-5-cooking {
    right: 250px
}

.chef-walk-with-pizza {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    height: 64px;
    width: 48px;
    bottom: 17px;
    right: 54px
}

.chef-walk-with-pizza-0 {
    background-image: url(./assets/img/animations/pizza/0.png);
}

.chef-walk-with-pizza-1 {
    background-image: url(./assets/img/animations/pizza/1.png);
}

.chef-walk-with-pizza-2 {
    background-image: url(./assets/img/animations/pizza/2.png);
}

.chef-walk-with-pizza-3 {
    background-image: url(./assets/img/animations/pizza/3.png);
}

.chef-walk-with-pizza-4 {
    background-image: url(./assets/img/animations/pizza/4.png);
}

.chef-walk-with-pizza-5 {
    background-image: url(./assets/img/animations/pizza/5.png);
}

.chef-walk-with-pizza-6 {
    background-image: url(./assets/img/animations/pizza/6.png);
}

.chef-walk-with-pizza-7 {
    background-image: url(./assets/img/animations/pizza/7.png);
}

.chef-walk-with-pizza-8 {
    background-image: url(./assets/img/animations/pizza/8.png);
}

.chef-walk-with-pizza-9 {
    background-image: url(./assets/img/animations/pizza/9.png);
}

.chef-walk-with-pizza-10 {
    background-image: url(./assets/img/animations/pizza/10.png);
}

.chef-walk-with-pizza-11 {
    background-image: url(./assets/img/animations/pizza/11.png);
}

.chef-walk-with-pizza-12 {
    background-image: url(./assets/img/animations/pizza/12.png);
}

.chef-walk-with-pizza-13 {
    background-image: url(./assets/img/animations/pizza/13.png);
}

.chef-walk-with-pizza-14 {
    background-image: url(./assets/img/animations/pizza/14.png);
}

.chef-walk-with-pizza-15 {
    background-image: url(./assets/img/animations/pizza/15.png);
}

.chef-walk-with-pizza-16 {
    background-image: url(./assets/img/animations/pizza/16.png);
}

.chef-walk-with-pizza-17 {
    background-image: url(./assets/img/animations/pizza/17.png);
}

.chef-walk-with-pizza-18 {
    background-image: url(./assets/img/animations/pizza/18.png);
}

.chef-walk-with-pizza-19 {
    background-image: url(./assets/img/animations/pizza/19.png);
}

.chef-walk {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    height: 67px;
    width: 35px;
    right: 94px;
    bottom: 17px;
    transform: scaleX(-1);
}

.chef-walk-0 {
    background-image: url(./assets/img/animations/walk/0.png);
}

.chef-walk-1 {
    background-image: url(./assets/img/animations/walk/1.png);
}

.chef-walk-2 {
    background-image: url(./assets/img/animations/walk/2.png);
}

.chef-walk-3 {
    background-image: url(./assets/img/animations/walk/3.png);
}

.chef-walk-4 {
    background-image: url(./assets/img/animations/walk/4.png);
}

.chef-walk-5 {
    background-image: url(./assets/img/animations/walk/5.png);
}

.chef-walk-6 {
    background-image: url(./assets/img/animations/walk/6.png);
}

.chef-walk-7 {
    background-image: url(./assets/img/animations/walk/7.png);
}

.chef-walk-8 {
    background-image: url(./assets/img/animations/walk/8.png);
}

.chef-walk-9 {
    background-image: url(./assets/img/animations/walk/9.png);
}

.chef-walk-10 {
    background-image: url(./assets/img/animations/walk/10.png);
}

.chef-walk-11 {
    background-image: url(./assets/img/animations/walk/11.png);
}

.chef-walk-12 {
    background-image: url(./assets/img/animations/walk/12.png);
}

.chef-walk-13 {
    background-image: url(./assets/img/animations/walk/13.png);
}

.chef-walk-14 {
    background-image: url(./assets/img/animations/walk/14.png);
}

.chef-walk-15 {
    background-image: url(./assets/img/animations/walk/15.png);
}

.chef-walk-16 {
    background-image: url(./assets/img/animations/walk/16.png);
}

.chef-walk-17 {
    background-image: url(./assets/img/animations/walk/17.png);
}

.chef-walk-18 {
    background-image: url(./assets/img/animations/walk/18.png);
}

.chef-walk-19 {
    background-image: url(./assets/img/animations/walk/19.png);
}

.tables {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 97px;
    bottom: 15px;
    z-index: 0;
}

.counter-table {
    width: 50px;
    height: 26px;
    background: url(./assets/img/static/kitchen-table.png) no-repeat;
    background-size: contain;
}

.delivery-man {
    background-image: url(./assets/img/static/delivery-boy.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: 75px;
    height: 60px;
    position: absolute;
    bottom: -1px;
    z-index: 0;
    left: 100px;
    animation: moveDeliveryBoy 10s linear infinite;
}

@keyframes moveDeliveryBoy {
    from {
        left: 100px;
    }

    to {
        left: 1500px;
    }
}

/* Extra small devices (phones, 800px and down) */
@media only screen and (max-width: 800px) {
    .tables {
        right: 27px;
        bottom: 10px;
    }

    .counter-table {
        width: 34px;
        height: 17px;
    }

    .delivery-man {
        width: 40px;
        height: 32px;
        left: 27px;
    }

    @keyframes moveDeliveryBoy {
        from {
            left: 27px;
        }

        to {
            left: 800px;
        }
    }
}